@import "colores";

/* Header */
.divLogoNombreSitio__imagenLogoSitio {
    width: 120px;
    height: 120px;
}


.divLogoNombreSitio__nombreSitio{
    font-family: 'Courier New', Courier, monospace;
    font-size: xxx-large;
    background: linear-gradient(to right, rgba(222, 222, 230, 0.555), rgb(96, 205, 248), rgba(40, 40, 230, 0.925));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;

}

.iconHelp {
    width: 30px;
    height: 30px;
    margin-top: 50px;
    transform: scale(1,1);
    &:hover{
        transform: scale(1.2,1.2);
    }
}

.divHeaderGeneralNombreSitio{
    display: flex;
}

.divNombreSitio{
    padding: 0;
    margin: 0;
}



/*menu*/
.menuSticky {
    position: sticky;
    top: 0px;
    background-color:black;    
    padding-left: 0%;
    z-index: 100;
}
.navMenu {
    ul {
        list-style: none;
        font-size: 0;
        margin-left: 0%;
        margin-top: 2%;
        li{
            display: inline-block;
            width: 15%;
            font-size: 17px;
            text-align: center;
            margin: 1%;
            a {
                text-decoration: none;
            }
            ul {
                position: absolute;
                display: none;
                border-color: $azulBordesMenuPrincipal;
                border: 1px solid $azulBordesMenuPrincipal; /* rgb(54, 54, 27);*/
                width: 225px;
                padding-left: 0;
                margin-top: 0%;
                li {
                    display: block;
                    text-align: left;
                    width: auto;
                    border: 1px solid $azulBordesMenuPrincipal; /* rgb(54, 54, 27);*/
                    background-color:rgba(0, 0, 0, 0.904) ;    
                }            
            } 
            &:hover ul {
                display: block;
            }       
        }
    }
}

.classBody {
    background-color: black;
    
}

nav {
    ul {
        li {
            border-style: inset;
            border-color: $azulBordesMenuPrincipal;
            border-radius: 10%;
            a {
                color: $azulBordesMenuPrincipal;
            }
            &:hover > a {
                background-color: #f0f3df;
            }
        }
    }
}

.liSeleccionado {
    border-color: rgb(0, 255, 191);
}
